.view{width: 100%;}

.dashleft{width: 75%; height: 100%; background: #e8e8e8;}

.stats{background: #f5f5f5; padding: 31px 1% 35px 1%;}

.whatnow{padding: 35px 1% 1% 1%;}

.timeline{
	background: #ddd;
	width: 25%;
	padding: 31px 1% 1% 1%;
	height: 100%;

	.pinned{background: #aaa;}

	.bar{
		background: #fff;
		width: 50%;
		height: 15px;
		margin: 0 5px 0 0;
	
		.barcomplete{
			width: 28%;
			background: $orange;
			height: 15px;
		}
	}

	li{}

}