* { 
	@include box-sizing(border-box);
}

body, html { 
	font-family: trade; 
	height: 100%; 
	width: 100%;
	color: $font-body-color;
}

h1, h2, h3 {
	font-family: tradecondensed;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.container { 
	height: 100%; 
	width: 100%;
	position: relative;
}

.view {
	width: 90%;
	height: 100%;
	margin: 0 0 0 0;
	position: absolute;
	top: 0;
	right: 0;
}

.clear{clear: both;}