.sub-nav { 
	@include transition (all 0.3s ease-in-out);
	position: relative;
	top: 0;
	left: 0;
	z-index: 500;
	float: left;
	display: inline-block;
	overflow: hidden;

	margin: 0 0 0 0;
	padding: 20px 20px 20px 20px;
	background: lighten($dark-gray, 90%);

	width: 250px;
	height: 100%;

	&.collapsed {
		width: 10px;
	}

	h2 {
		font-family: tradecondensed;
		font-size: 36px;
		line-height: 32px;
		margin: 0 0 10px 0;
		color: $orange;
	}

	h3 {
		font-size: 10px;
		font-weight: bold;
		line-height: 18px;
		margin: 25px 0 3px 0;
		color: lighten($dark-gray, 50%);
	}

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 14px;
	}

	a {
		@include transition (all 0.2s ease-in-out);
		font-family: tradecondensed;
		position: relative;
		padding: 2px 8px;
		text-decoration: none;
		color: lighten($dark-gray, 30%);
		display: inline-block;
		width: 115%;
		margin: 0 -8px;
		font-size: 18px;

		&:hover, &:active, &.current {
			color: $dark-gray;
			background: lighten($dark-gray, 85%);

			i.icon-chevron-right {
				margin-right: 0px;
				margin-top: 2px;
				opacity: 1;
			}

		}

		i {
			@include transition (all 0.2s ease-in-out);
			font-size: 14px;
			padding: 0 5px 0 0;

			&.icon-chevron-right {
				float: right;
				margin-right: 5px;
				margin-top: 2px;
				opacity:0;
			}
		}
	}

	.expand {
		background: lighten($dark-gray, 85%);
		padding: 3px 6px;
		position: absolute;
		right: 8px;
		top: 8px;
		font-size: 12px;
		@include border-radius($radius);
	}

	.storage {
		position: absolute;
		bottom: 0px;
		left: 0px;
		@include box-shadow(0px 6px 10px 10px rgba(0,0,0,0.05));
		margin: 0px;
		padding: 0 24px 15px 22px;

		.expand {
			right: 5px;
			top: 10px;
			font-size: 10px;
			background: transparent;
		}

		h3 {
			margin-top: 15px;
		}
	}

}
