.sub-nav { 
	@include transition (all 0.3s ease-in-out);
	position: relative;
	top: 0;
	left: 0;
	z-index: 500;
	float: left;
	display: inline-block;
	overflow: hidden;

	margin: 0 0 0 58px;
	padding: 20px;
	background: lighten($dark-gray, 80%);

	width: 250px;
	height: 100%;

	&.collapsed {
		width: 10px;
	}

}